*,
*:after,
*:before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: none;
}
*::-webkit-scrollbar{
  display: none;
}

a{
  text-decoration: none;
  color: #62615B;
}
/********** GLOBAL LAYOUT **********/
.container{
  height: 100vh;
  width: 100vw;
  background-color: #fcfcfc;
  color: #62615B;
  font-family: brandon-grotesque, sans-serif;
  font-weight: 100;
  font-style: normal;
  position: relative;
}
.content{
  /* background-color: #fcfcfc; */
  border: 2px solid #62615B;
  max-height: 90%;
  min-width: 95%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: scroll;
}
.content::-webkit-scrollbar{
  display: none;
}

/***** GLOBAL MENU*****/
footer{
  position: fixed;
  bottom: 3rem;
  width: 100%;
  text-align: center;
}
.menu{
  width: 30%;
  margin: 0 auto;
  background-color: #fcfcfc;

}
/**********PAINTINGS PAGE GRID USING GRID CSS**********/
.wrapperPaintings{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3rem;
  margin: 3rem;
}
.imgContainer{
  position: relative;
}
.imgContainer p{
  position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}
.imgContainer img{
  width: 100%;
  /* z-index: 1; */
}
.paintingTitle{
  text-align: center
}
/**********PAINTING POST**********/
.wrapper-painting{
  width: 50%;
}
.paintingImg{

}



/*OTHER STYLES FOR GRID CSS FROM TUTORIAL*/
/*Explict definition of template rows*/
/* grid-template-rows: 10vh 10vh 10vh 10vh 10vh 10vh; */
  /* grid-template-columns: repeat(auto-fit, minmax(300px, 1fr) ); */
/* Can repeat grids using the repeat function below */
/* grid-template-columns: repeat(3,30vw); */

/*Fractional*/
/* grid-template-columns: 1fr 1fr 1fr; */
